//- const page = 'Information'
//- -
//- 	const navDate = [
//- 		{text:'Home', href='index.html'}
//- 	]
mixin nav(navDate, page)
	nav.page-navigation
		ul.nav-list
			each item in navDate
				li.nav-list__item
					if item.text == page
						a.link.nav-list__link.nav-list__link--active= item.text
					else
						a.link.nav-list__link(href=`${item.href}`)= item.text