meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
title #{title}
meta(name="discription" content="SALT Group is a world leader in authentication and security. We have a range of services to improve user authentication. Discover the possibilities with SALT.")
meta(name="theme-color" content="#c9e0e04d")
meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
link(rel="shortcut icon" href="./img/favicons/favicon-32x32.png" type="image/png")
link(rel="apple-touch-icon" href="./img/favicons/apple-touch-icon.png" type="image/png")
link(rel="preload" href="fonts/Proxima/ProximaNova-Regular.woff" as="font" type="font/woff" crossorigin)
link(rel="preload" href="fonts/Proxima/ProximaNova-Semibold.woff" as="font" type="font/woff" crossorigin)
link(rel="stylesheet" href="./styles/main.css")
link(href="https://fonts.googleapis.com/css?family=Raleway:400,600,800&display=swap" rel="stylesheet")

script(async src="https://platform.twitter.com/widgets.js")